<div catalog>


    <div class="container">

        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">

            <div *ngIf="displayMyGames" class="area-title">
                <h1>GAMES.MY_GAMES<small class="text-uppercase">{{titleDetail}}</small></h1>
                <h3 class="text-left"><span class="hightlight">GAMES.GAMES_PLAYED</span>  <!-- / Básico --></h3>
            </div>

            <div *ngIf="!displayMyGames" class="area-title">
                <h1> <span><a >HOME</a></span>GAMES.GAMES<b style="text-align: right; margin-left: 15px; color: #ca2931;">{{titleDetail}}</b></h1>
                <h3 class="text-left"><span class="hightlight">GAMES.BEST_GAMES</span><!-- / Básico --></h3>
            </div>

            <div class="row">
                <div *ngIf="!displayMyGames" class="col-xs-6 col-sm-3 col-md-3 col-lg-3" >
                    <div class="visible-sm visible-md visible-lg" style="width:100%;"></div>
                    <div class="name button-game">
                        <a (click)="showMyGames()"><p class="text-center">GAMES.MY_GAMES</p></a>
                    </div>
                    <div class="visible-xxs"></div>
                </div>
                <div style="margin-left:30px;">
                </div>
                <div *ngIf="displayMyGames" class="col-xs-6 col-sm-3 col-md-3 col-lg-3 ">
                    <div class="visible-sm visible-md visible-lg" style="width:100%;"></div>
                    <div class="name button-game">
                        <a (click)="showAllGames()"><p class="text-center">GAMES.SHOW_MORE_GAMES</p></a>
                    </div>
                </div>
            </div>

            <div id="title-bar" class="line-title "></div>
        </div>

        <div>
            <h5>Progressbar</h5>
            <progressbar [animate]="false" [value]="progressValue" type="success"><b>{{progressValue}}%</b></progressbar>
        </div>

        <div class="row " *ngIf="dataGames" id="games">
            <div class="btn-game row-vid"  *ngFor="let game of dataGames" >

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 ">
                    <figure>
                        <div class="stretchy-wrapper">
                            <div class="vid" auto-aspect-ratio ratio="9/13" calculate="height"
                                (mouseover)="hover($event)"
                                (mouseleave)="leave($event)" >
                                <div class="btn-vid">
                                    <div class="btn-front">
                                        <img height="100%" width="100%" [src]="game.imageUrl">
                                    </div>
                                    <video class="btn-vid-media" height="100%" width="100%" loop></video>
                                    <div class="boton-jugarinfo">
                                        <div class=" btn-jugar playButton" data-game="game.uEIgame" >
                                            <a href="#" >GAMES.PLAY</a>
                                        </div>
                                        <!--div class=" btn-jugar" >
                                            <a [href]="game.url_info" target="_blank" >GAMES.MORE_INFO &nbsp;</a>
                                        </div-->
                                    </div>
                                </div>
                                <div class="btn-vid-title">
                                    <h1> {{game.title}}</h1>
                                    <div class="btn-vid-subtitle">
                                        <!--p style="text-transform: uppercase;"> 
                                            <span *ngFor="let category of game.categories; #last = last">
                                                <a href="#">{{category.description_es}}</a><span *ngIf="last"> &nbsp; </span>
                                            </span>
                                        </p-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>


</div>