
[catalog] {
    
    h1{ color:saddlebrown; }

    .hightlight {
        color: #ee3a43;
        font-weight: 900;
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .area-title {
        margin-left: 30px;
        margin-bottom: 10px;
    }


    .area-title h2 {
        font-weight: 700;
        margin-top: 30px !important;
        position: relative;
        float: left;
        padding-bottom: 10px;
        width: 100% !important;
    }

    .area-title h1 {
        font-size: 1.3em;
        font-weight: normal;
        color: #000;
        text-transform: uppercase;
        font-weight: 900;
        font-family: 'Lato', sans-serif;
        margin-top: 50px;
    }

    .area-title h1 span {
        padding-right: 15px;
        font-weight: normal;
        color: #000;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
    }

    .area-title h1 span a {        
        color:#e81d2b;
    }

    .area-title span h1 a{ color: #111; }
    .area-title span h1 a:hover{ color: #e81d2b; }

    figure {

        float: left;
        margin: 8px auto;
        opacity: 1;
        overflow: hidden;
        position: relative;
        width: 98.3%;
    }

    div.stretchy-wrapper {
        margin: 4% 7% !important;
        max-height: 400px !important;
        padding-bottom: 120.5% !important;
        position: relative;
        width: 85.6% !important;
        border: 5px solid rgba(0, 0, 0, 0.1);
    }
    div.stretchy-wrapper:hover{ border:5px solid rgba(0, 0, 0, 1);/* box-shadow:0px 0px 25px #ddd !important;*/ -webkit-transition: width 2s; 
    transition: width 2s;}

        /*box-shadow: 0px 0px 100px #111 inset;*/
    div.stretchy-wrapper > div {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            text-align: center;
            overflow: hidden;
    }



    /*
    botones animados --------->
    */

    .btn-vid {
    width: 100%;
    overflow: hidden;
    }

    /*.row-vid {
    margin-left: 20px;
    }
    */
    .btn-front img {
    background-position: center;
    position: absolute;
    left: 0;
    }

    .text-left > img {
        margin-left: 10px;
        margin-top: -4px !important;
        width: 28px;
    }



    .button-game {
    /* border: 1px solid rgba(10, 84, 109, 0.9);
        box-shadow: 0 0 29px rgba(0, 0, 0, 0.5) inset;*/
        background: #ca2931;
        font-weight: 900;
        margin-left: 13%;
        padding: 10px;
        width: 80%;
        margin-top: 20px;
    }

    .button-game:hover {
        /*border: 1px solid rgba(17, 124, 160, 0.9);
        box-shadow: 0 0 86px rgba(10, 84, 109, 0.9) inset;*/
        background: #000;
    }


    .button-game p {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    
    }

    .boton-jugarinfo {
        bottom: -1px !important;
        height: 13%;
        margin: 0;
        position: absolute !important;
        width: 100%;
        left: 0px;
        z-index: 300;
    }

    .btn-jugar {
        color: #f5f5f5;
        float: left;
        text-align: center;
        width: 50% !important;
        background: #000;
        height: 100%;
        text-transform: uppercase;
    }
    .btn-jugar a {
        color: #f5f5f5;
        float: left;
        height: 100%;
        padding-top: 10px;
        width: 100%;
        padding-bottom: 10px;
    }

    .btn-vid-title {
        /* background-color: #fff !important; */
        bottom: 0 !important;
        box-shadow: 0 -130px 35px -20px rgba(0,0,0,1) inset;
        height: 100% !important;
        left: 0;
        position: absolute;
        font-size: 13px;
        text-align: left;
        width: 100%;
        z-index: 200;
    }

    .btn-vid-title h1 {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;
        padding: 0px !important;
        text-align: center;        
        bottom: 20%;
        position: absolute;
        z-index: 28;
    }

    /*
    ================= btn-games ====================
    */


    .btn-vid {
    width: 100%;
    overflow: hidden;
    }



    .btn-vid-media {
    position: relative;
    top: 0;
    left: -0.001em;
    z-index: -1;
    }

    .btn-vid-media-mygame {
    position: absolute;
    top: 0;
    left: -0.001em;
    z-index: 1;
    opacity: 0;
    }

    .vid:hover .btn-vid .btn-vid-media-mygame {
    opacity: 1 !important;
    }


    .btn-vid-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    }



    .vid img {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
    }

    .vid:hover img {
    -webkit-filter: brightness(170%);
    filter: brightness(170%);
    }

    .vid:hover {
    /*border: 4px solid rgba(21, 117, 150, 0.7);
    box-shadow: 0px 0px 58px rgba(0, 0, 0, 0.9) inset;*/
    }


    /*.btn-vid-subtitle {
    background-color: #000;
    width: 100%;
    height: 35px;
    padding-top: 4px !important;
    }*/

    .btn-vid-subtitle {
        background-color: #000;
        width: 100%;
        height: 35px;
        position: absolute;
        padding-top: 4px !important;
        bottom: 11%;
        z-index: 22;
        text-align: center;
        left: 0px;
    }

    .btn-vid-subtitle p {
    padding-top: 5px;
    margin-left: 0px;
    font-size: 12px;
    }

    .btn-vid-subtitle p a{
    /* background-color: rgba(21, 117, 150, 0.7);*/
    color: #fff !important;
    padding: 3px 8px !important;
    font-weight: bold;
    margin: 0 1px;
    top: -2px;
    position: relative;
    }

    .row-vid {
    margin-left: 20px;
    }

    .show {
        opacity: 1 !important;
        display: block !important;
    }

    @media (max-width: 640px) {

        .area-title h1 {         
            text-align: center;
        }
        .area-title h2 {
            text-align: center;            
        }

        .text-left {
            text-align: center;
        }

        .button-game {
            margin-left: 9%;
        }
    }
}
